html{
    font-size: 64.5%;
}

body{
    font-size: 16px; /* 1 rem = 10px */
}

.title {
    text-align: center;
    font-size: 3.8rem; 
    color: crimson;
    font-family: 'Fleur De Leah', cursive;
    
}


.title span {
    text-align: center; 
    font-size: 2rem;
    color: #c7a2cb;
    font-family: 'Pattaya', sans-serif;
    
}

.titlesd {
    text-align: center;
    font-size: 3.8rem; 
    color: crimson;
    font-family: 'Pattaya', sans-serif;
    
}

.titlesd span {
    text-align: center;
    font-size: 2rem; 
    color: crimson;
    font-family: 'Pattaya', sans-serif;
    
}
.container {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: #ff9f98; 
    
}

.principal-navegation {
    display: flex;
    justify-content: space-between ;

}

.principal-navegation a {
  color: #ffffff;  
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.principal-navegation a:hover {
    background-color: #ffcfcb;
    color: #000000;
}